/* changes
 padding inside input
 minus border on input (20px to 10px)
 horizontal scroll none
 border on login e register div
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.box {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.boxLogin {
  display: flex;

  align-items: center;
  flex-direction: column;
  width: 300px;
  height: AUTO;

  border: 1px solid rgb(236, 235, 235);

  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(168, 165, 165);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 100px;
  padding: 5%;
  border: 0 0 0 5px solid black;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  margin-top: 10px;
  width: 300px;
  height: 1px;
  background-color: black;
}
.margin {
  margin-right: 20px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 95px;
  height: 40px;
  border-radius: 25px;
  background-color: rgb(105, 105, 219);
  cursor: pointer;

  border: 1px solid black;
}

.button:hover {
  box-shadow: 0px 3px;
}

form {
  margin: 20px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.input input {
  width: 230px;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
}
.forgot {
  margin-top: 20px;
  width: auto;
  height: auto;
}
.forgot a {
  color: rgb(124, 124, 209);
  display: flex;
  justify-content: flex-end;
}

.forgot img {
  width: 30%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.submit {
  float: right;
}
.flag {
  float: left;
}
.img {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 95px;
  height: 35px;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid black;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.buttonSubmit {
  width: 95px;
  height: 35px;
  background-color: rgb(105, 105, 219);
  border-radius: 20px;
}

.login {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
